@using MoodBite.Models.FoodSaleModel

@model FooSaleViewModel

@{
    ViewBag.Title = "My Uploads";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
    ViewBag.LoaderMsg = "Please wait...";
}

<!-- Favicon -->
<link href="~/Content/MainTemplate/img/favicon.ico" rel="icon">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

<!-- CSS Libraries -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Wano Quin:wght@900&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;700&display=swap" />

<!-- Template Stylesheet -->
<link href="~/Content/bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/MainTemplate/css/style.css" rel="stylesheet">


@Html.Partial("_Loader")
<h5 style="padding:1rem 0 0.5rem"><a href="#" style="text-decoration:none" onclick="history.back()">Go back</a></h5>
<h2 >My Uploads</h2>

<table id="myUploadsTable" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Recipe name</th>
            <th>Status</th>
            <th>For Sale</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.userRecipe)
        {
            <tr>
                <td width="15%"><img src="@Url.Content(item.ImagePath)" alt="@item.ImageName" width="60px" height="60px" style="border-radius:20px; display:block; margin:0 auto;"/></td>
                <td width="55%">@item.RecipeName</td>
                <td width="10%">@item.Status</td>
                <td>@item.ForSale</td>
                <td width="10%">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="actionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="actionsDropdown">
                            <a class="dropdown-item" href="~/UsersPage/EditRecipe/@item.RecipeID" onclick="showLoader()">Edit</a>
                            <a class="dropdown-item" href="~/UsersPage/RecipeDetails/@item.RecipeID" onclick="showLoader()">Details</a>
                            <a class="dropdown-item" href="#" onclick="showLoader()">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/MainTemplate/lib/easing/easing.min.js"></script>
<script src="~/Content/MainTemplate/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/Content/MainTemplate/mail/jqBootstrapValidation.min.js"></script>
<script src="~/Content/MainTemplate/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/Content/MainTemplate/js/main.js"></script>
<script src="~/Content/bootstrap-5.3.3-dist/js/bootstrap.js"></script>

<script src="~/Content/HideSomeeAds/removewatermark.js"></script>
<script>
    $(document).ready(function () {
        // Initialize DataTable
        $('#myUploadsTable').DataTable();
    });
</script>