@using MoodBite.Models.RecipeViewModel;

@model RecipeDetailViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.LoaderMsg = "Loading...";
    string a = "active";
    string ia = "inactive";

    Session["HomeActive"] = a;
    Session["UploadActive"] = ia;
    Session["CartActive"] = ia;
    Session["ProfileActive"] = ia;

    var user = Session["user"] as User;
    if (user != null)
    {
        ViewBag.TitleHeader = $"Welcome Back, {user.FirstName} !";

    } else
    {
        ViewBag.TitleHeader = $"Welcome Back";
    }
    ViewBag.TitleSubheader = "Home Page";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
    string chosenMood = (string)Session["ChosenMood"];
    string iconName = "";
    switch(chosenMood?.ToLower())
    {
        case "happy":
            iconName = "far fa-smile";
            break;
        case "sad":
            iconName = "far fa-sad-tear";
            break;
        case "angry":
            iconName = "far fa-angry";
            break;
        case "disgusted":
            iconName = "far fa-grimace";
            break;
        case "fearful":
            iconName = "far fa-flushed";
            break;
        case "surprised":
            iconName = "far fa-surprise";
            break;
        case "euthymia":
            iconName = "far fa-grin";
            break;
    }
}

<!-- Favicon -->
<link href="~/Content/MainTemplate/img/favicon.ico" rel="icon">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

<!-- CSS Libraries -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Wano Quin:wght@900&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;700&display=swap" />

<!-- Template Stylesheet -->
<link href="~/Content/bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet"/>
<link href="~/Content/MainTemplate/css/style.css" rel="stylesheet">

@*<form action="~/UsersPage/UsersHome" method="post">*@
    @Html.Partial("_Loader")
    <div class="search-widget" style="margin:4rem 0 0">
        <input class="form-control" name="search" type="text" id="searchinp" onkeydown="handleSearchInput(event)"  placeholder="Search Keyword" value="@Html.Raw(Session["SearchInput"] as string)">
        <button class="btn" id="searchbtn" onclick="searchRecipe()" style="right:12.5%;"><i class="fa fa-search"></i></button>
    </div>
@*filterSearch(btnID, selectID, containerID, hiddenInpName)*@
    <div>
        <div class="mt-2 allercb" style="margin: 0 7rem; ">
            <div id="allergyContainer" style="margin-bottom:0.5rem; padding:0.5rem; overflow:auto">
                <span class="mr-2"><b>Filter search by Allergies:</b></span>
            </div>
            <select class="form-control" name="allergyInp" id="allergySelect" style="width:100px; display:inline-block">
                @foreach (var allergy in Model.allergy)
                {
                    var counter = 1;
                    <option value="@counter">@allergy</option>
                    counter++;
                }
            </select>
            <button class="btn btn-success" id="addAllergy" onclick="filterSearch('addAllergy', 'allergySelect', 'allergyContainer', 'allergyInp[]')">
                <i class="fas fa-plus"></i>
            </button>
        </div>

        @*<div class="mt-2 intolcb" style="margin: 0 7rem;">
            <div id="intoleranceContainer" style="margin-bottom:0.5rem; padding:0.5rem; overflow:auto">
                <span class="mr-2"><b>Filter search by Intolerance:</b></span>
            </div>
            <select class="form-control" name="intoleranceInp" id="intoleranceSelect" style="width:100px; display:inline-block">
                @foreach (var intolerance in Model.intolerance)
                {
                    var counter = 1;
                    <option value="@counter">@intolerance</option>
                    counter++;
                }
            </select>
            <button class="btn btn-success" id="addIntolerance" onclick="filterSearch('addIntolerance', 'intoleranceSelect', 'intoleranceContainer', 'intoleranceInp[]')">
                <i class="fas fa-plus"></i>
            </button>
        </div>*@

        <div class="mt-2 foodcatcb" style="margin: 0 7rem;">
            <div id="fcContainer" style="margin-bottom:0.5rem; padding:0.5rem; overflow:auto">
                <span class="mr-2"><b>Filter search by Food Categories:</b></span>
            </div>
            <select class="form-control" name="fcInp" id="intoleranceSelect" style="width:100px; display:inline-block">
                @foreach (var fc in Model.foodCategories)
                {
                    var counter = 1;
                    <option value="@counter">@fc</option>
                    counter++;
                }
            </select>
            <button class="btn btn-success" id="addFc" onclick="filterSearch('addFc', 'intoleranceSelect', 'fcContainer', 'foodCategoryInp[]')">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
@*</form>*@


<div style="padding-top:2rem">
    <div class="section-header text-center">
        <h2>Check out this New & <br> Fresh Recipes</h2>
        <h6 style="padding:2rem 0;">This makes choosing what to eat easier and more enjoyable. Say goodbye to food stress and hello to a personalized, time-saving, <br> and allergy-friendly food recommendation site.</h6>
    </div>
    <div class="row">
        @if (Model.recommendedRecipes.Count() != 0)
        {
            foreach (var recipe in Model.recommendedRecipes)
            {
                <div class="col-md-4 flex-recipe-container">
                    <div class="blog-item" style="width:100%; display: flex;justify-content: center; align-items: center; flex-direction: column;">
                        <div class="blog-img" style="width:200px; margin:0 auto">
                            @{
                                string imagePath = Url.Content(recipe.ImagePath);
                                bool imageExists = System.IO.File.Exists(Server.MapPath(imagePath));
                            }

                            @if (imageExists)
                            {
                                <img class="recipe-img"  onclick="readMore(event)" data-recipe-id="@recipe.RecipeID" src="@imagePath" alt="RecipeImageCover" style="border-radius:50%; cursor:pointer; animation: spin 60s linear infinite; height:200px" data-animate-on-scroll />
                            }
                            else
                            {
                                <img class="recipe-img"  onclick="readMore(event)" data-recipe-id="@recipe.RecipeID" src="https://placehold.co/200x200" alt="image not found" style="border-radius:50%; cursor:pointer; height:200px" data-animate-on-scroll />
                            }
                        </div>
                        <div class="blog-content" onclick="readMore(event)" data-recipe-id="@recipe.RecipeID" style="background-image: url(../../Content/multimedia/recipecontainer@3x.png); background-repeat:no-repeat; background-size:cover; width:250px; height:250px; background-color:unset; background-position:center; box-shadow:unset; left:0 !important; z-index:0; cursor:pointer">
                            <h2  onclick="readMore(event)" data-recipe-id="@recipe.RecipeID" class="blog-title" style="text-align:center">@recipe.RecipeName</h2>
                            <h6  onclick="readMore(event)" data-recipe-id="@recipe.RecipeID" class="blog-title" style="text-align:center;">@recipe.FoodCategoryName</h6>
                            @{
                        string dateUploaded = "";
                        double recipeRating = 0;
                            }

                            <div class="blog-text recipe-btn userhomerecipebtn" style="display:block">

                                @if (!Model.faveRecipes.Contains(recipe.RecipeID))
                        {
                                    <a style="position:relative; left:100px"><img class="inactive-heart" style="cursor:pointer" src="~/Content/multimedia/favoritesvector.svg" data-recipe-id="@recipe.RecipeID" /></a>
                        }
                        else
                        {
                                    <a style="position:relative; z-index:99999; left:100px"><img class="active-heart" style="cursor:pointer" src="~/Content/multimedia/heartactive.svg" data-recipe-id="@recipe.RecipeID" /></a>
                        }

                                <a style="position:relative; z-index:99999; left:132.5px"><img style="cursor:pointer" data-recipe-shareID="@recipe.RecipeID" src="~/Content/multimedia/shareicon.svg" onclick="showModal(event)"/></a>
                            </div>
                        </div>
                    </div> <!--end of blog-item-->
                </div>
        }
    } else
    {
    <h3 style="text-align:center"><i>Out of recipes...</i></h3>
    }
    </div>
    </div>

@*Modal for share recipe*@
@Html.Partial("_Modal")

@if (User.Identity.IsAuthenticated)
{
    if (Model.incomingOrderView.Count > 0 && Model.incomingOrderView != null)
    {
        @Html.Partial("IncomingOrderModal", Model.incomingOrderView)
    }
}


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/MainTemplate/lib/easing/easing.min.js"></script>
<script src="~/Content/MainTemplate/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/Content/MainTemplate/mail/jqBootstrapValidation.min.js"></script>
<script src="~/Content/MainTemplate/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/Content/MainTemplate/js/main.js"></script>
<script src="~/Content/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
<script src="~/Content/HideSomeeAds/removewatermark.js"></script>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
    var observer = new IntersectionObserver(
      (entries) => {
          for (const entry of entries) {
              if (entry.isIntersecting || entry.intersectionRatio > 0) {
                  const targetElement = entry.target;
                  targetElement.classList.add("animate");
                  observer.unobserve(targetElement);
              }
          }
      },
      {
          threshold: 0.15,
      }
    );

    for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
    }

    $(".recipe-btn img[data-recipe-id]").click(function () {
        // Disable the image to prevent multiple clicks
        $(this).prop("disabled", true);

        var onClickValue = $(this).closest('.blog-content').attr('onclick');

        $(this).closest('.blog-content').removeAttr('onclick');

        var recipeID = parseInt($(this).attr("data-recipe-id"));
        var $image = $(".recipe-btn img[data-recipe-id='" + recipeID + "']");

        var data = {
            recipeID: recipeID
        };

        $.ajax({
            url: "/UsersPage/AddToFavorites",
            type: "POST",
            data: data,
            success: function (response) {
                if (response.success) {
                    if(response.add == true){
                        alert(response.message);
                        $image.removeClass("inactive-heart").addClass("active-heart").attr("src", '@Url.Content("~/Content/multimedia/heartactive.svg")');
                    } else {
                        alert(response.message);
                        $image.removeClass("active-heart").addClass("inactive-heart").attr("src", '@Url.Content("~/Content/multimedia/favoritesvector.svg")');
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("An error occurred while adding the recipe to favorites.");
            },
            complete: function () {
                $(".recipe-btn img[data-recipe-id]").prop("disabled", false);

                $(".blog-content").attr('onclick', onClickValue);
            }
        });
    });

    function filterSearch(btnID, selectID, containerID, hiddenInpName) {
        var select = document.getElementById(selectID);
        var selectedOption = select.options[select.selectedIndex].text;
        var container = document.getElementById(containerID);

        // Check if the selected option already exists
        var existingSpans = container.getElementsByTagName('span');
        for (var i = 0; i < existingSpans.length; i++) {
            if (existingSpans[i].textContent === selectedOption) {
                return;
            }
        }

        var span = document.createElement('span');
        span.style.border = '1px solid black';
        span.style.padding = '0.25rem 0.65rem';
        span.style.borderRadius = '20px';
        span.style.marginRight = '0.3rem';
        span.style.cursor = "pointer";

        var icon = document.createElement('i');
        icon.className = 'fas fa-times';
        icon.style.marginRight = '0.15rem';

        span.appendChild(icon);
        span.appendChild(document.createTextNode(selectedOption));

        container.appendChild(span);

        // Create hidden input with the selected option value
        var hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = hiddenInpName;
        hiddenInput.value = selectedOption;

        // Append the hidden input to the container
        container.appendChild(hiddenInput);

        // Add click event listener to the span element
        span.addEventListener('click', function() {
            container.removeChild(span); // Remove the span element
            container.removeChild(hiddenInput); // Remove the corresponding hidden input
        });
    }



    function readMore(event) {
        var element = event.target;
        var recipeID = parseInt(element.getAttribute("data-recipe-id"));
        console.log("id " + recipeID);

        var modal = $('#myModal');
        if (modal.is(':visible')) {
            console.log("Modal is visible. Redirection disabled.");
            return;
        }

        if (isNaN(recipeID)) {
            alert("An error occured, please try again.");
        } else {
            window.location.href = `RecipeReadMore/${recipeID}`;
        }
    }

</script>

