@using MoodBite.Models.RecipeViewModel;

@model RecipeDetailViewModel

@{
    ViewBag.Title = "Home";
    var user = Session["user"] as User;
    if (user != null)
    {
        ViewBag.TitleHeader = $"Welcome Back, {user.FirstName} !";

    } else
    {
        ViewBag.TitleHeader = $"Welcome Back";
    }
    ViewBag.TitleSubheader = "Home Page";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
    string chosenMood = (string)Session["ChosenMood"];
    string iconName = "";
    switch(chosenMood?.ToLower())
    {
        case "happy":
            iconName = "far fa-smile";
            break;
        case "sad":
            iconName = "far fa-sad-tear";
            break;
        case "angry":
            iconName = "far fa-angry";
            break;
        case "disgusted":
            iconName = "far fa-grimace";
            break;
        case "fearful":
            iconName = "far fa-flushed";
            break;
        case "surprised":
            iconName = "far fa-surprise";
            break;
        case "euthymia":
            iconName = "far fa-grin";
            break;
    }
}

<!-- Favicon -->
<link href="~/Content/MainTemplate/img/favicon.ico" rel="icon">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

<!-- CSS Libraries -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="~/Content/MainTemplate/css/style.css" rel="stylesheet">


<div class="section-header text-center">
    <p>List of Recipes</p>
    <h2>Recommended For Your Current Mood <i class="@iconName" style="font-size:2rem"></i></h2>
</div>
<div class="row">
    @foreach (var recipe in Model.recommendedRecipes)
    {
    <div class="col-md-6 flex-recipe-container">
        <div class="blog-item">
            <div class="blog-img">
                @{
                    // Default MIME type
                    string mimeType = "image/jpeg";
                    if (recipe.ImageURL != null && recipe.ImageURL.Length > 0)
                    {
                        // Determine the MIME type based on the first few bytes of the image data
                        byte[] imageData = recipe.ImageURL;
                        string firstBytes = System.Text.Encoding.UTF8.GetString(imageData.Take(4).ToArray());

                        if (firstBytes.StartsWith("GIF8"))
                        {
                            mimeType = "image/gif";
                        }
                        else if (firstBytes.StartsWith("\xFF\xD8"))
                        {
                            mimeType = "image/jpeg";
                        }
                        else if (firstBytes.StartsWith("\x89PNG\x0D\x0A\x1A\x0A"))
                        {
                            mimeType = "image/png";
                        }
                    }
                }
                <img src="data:@($"data:{mimeType};base64,{Convert.ToBase64String(recipe.ImageURL)}")" alt="RecipeImageCover" width="400px" height="300px"/>
            </div>  
            <div class="blog-content">
                <h2 class="blog-title">@recipe.RecipeName &nbsp;&nbsp;<i class="@iconName" style="color:#fbaf32"></i></h2>
                @foreach (var recipeDetail in Model.recipeDetailsWithoutIngredients)
                {
                    <div class="blog-meta">
                        <p><i class="far fa-user"></i>@recipe.Uploaded_by</p>
                        @{ 
                            string dateUploaded = Convert.ToDateTime(recipeDetail.DateUploaded).ToShortDateString();
                            double recipeRating = 0;
                            foreach (var recipesRating in Model.recipeDetailsWithRating)
                            {
                                if (recipesRating.RecipeID == recipeDetail.RecipeID)
                                {
                                    recipeRating = Convert.ToDouble(recipesRating.Rating);
                                }
                            }
                        }
                        <p><i class="far fa-calendar-alt"></i>@dateUploaded</p>
                        <p><i class="far fa-star"></i>(@recipeRating)</p>
                    </div>
                    <div class="blog-text recipe-btn">
                        <a class="btn custom-btn" href="~/UsersPage/RecipeReadMore/@recipe.RecipeID">Read more</a>
                        <a class="btn custom-btn" style="background-color:red" href="">Add to cart</a>
                    </div>
                }
            </div>
        </div> <!--end of blog-item-->
    </div>
    }
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/MainTemplate/lib/easing/easing.min.js"></script>
<script src="~/Content/MainTemplate/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/Content/MainTemplate/mail/jqBootstrapValidation.min.js"></script>
<script src="~/Content/MainTemplate/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/Content/MainTemplate/js/main.js"></script>


