@using MoodBite.Models.RecipeViewModel;
@model RecipeDetailViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<link href="~/Content/UsersHomeTemplate/style.css" rel="stylesheet" />

<div class="recipes-container">
    @foreach (var recipe in Model.recipeIngredients)
    {
        <div class="recipe-card">
            <h3>@recipe.Key</h3>
            @foreach (var recipeDetail in Model.recipeDetailsWithoutIngredients)
            {
                <h4>@recipeDetail.PreparationTime</h4>
                <h4>@recipeDetail.CookingDuration</h4>
                <h4>@recipeDetail.MoodName</h4>
                <h4>@recipeDetail.CookingInstruction</h4>
                <h4>@recipeDetail.DateUploaded</h4>
            }
            <ul class="ingredient-list">
                <li class="ingredient-header">Ingredients:</li>
                @foreach (var ingredient in recipe.Value)
                {
                    <li class="ingredient">@ingredient</li>
                }
            </ul>
        </div>
    }
</div>
