@{
    var homeActive = Session["HomeActive"] as string;
    var uploadActive = Session["UploadActive"] as string;
    var cartActive = Session["CartActive"] as string;
    var profileActive = Session["ProfileActive"] as string;

    var manageUploads = Session["MUploadsActive"] as string;
    var manageSubscriptions = Session["MSubscriptionsActuve"] as string;

    string homeUrl = "";
    string home = "";
    if (User.IsInRole("Admin"))
    {
        home = "Manage Users";
        homeUrl = User.Identity.IsAuthenticated ? Url.Content("~/AdminsPage/ManageUsers") : Url.Content("~/Home/Index");
    }
    else if(User.IsInRole("User"))
    {
        home = "Home";
        homeUrl = User.Identity.IsAuthenticated ? Url.Content("~/UsersPage/UsersHome") : Url.Content("~/Home/Index");
    } else
    {
        home = "Home";
        homeUrl = User.Identity.IsAuthenticated ? Url.Content("~/Home/Index") : Url.Content("~/Home/Index");
    }

    string classParentContainerName;
    switch (ViewContext.RouteData.Values["action"].ToString().ToLower())
    {
        case "usershome":
            classParentContainerName = "blog";
            break;
        case "recipereadmore":
            classParentContainerName = "single";
            break;
        default:
            classParentContainerName = "booking";
            break;
    }
    string signIn_signOut = User.Identity.IsAuthenticated ? Url.Content("~/Account/LogOut") : Url.Content("~/Account/LogIn");
    ViewBag.SignIn_SignOut_Btn_Txt = User.Identity.IsAuthenticated ? "Sign Out" : "Sign In Now";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MoodBite - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/Content/MainTemplate/img/moodbite-logo-transparentbg-icon.ico" type="image/x-icon" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/MainTemplate/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/MainTemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/MainTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="~/Content/MainTemplate/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/Content/MainTemplate/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a href="@homeUrl" class="navbar-brand">Mood<span>Bite</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="@homeUrl" class="nav-item nav-link @homeActive">@home</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <a href="~/UsersPage/UploadRecipe" class="nav-item nav-link @uploadActive">Upload Recipe</a>
                            <a href="#feature" class="nav-item nav-link @cartActive">Cart</a>
                            <a href="#price" class="nav-item nav-link @profileActive">Profile</a>
                            <a href="~/Account/LogOut" class="nav-item nav-link btn" style="background-color: #fbaf32; color: white;">Log Out</a>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <a href="~/AdminsPage/ManageUploads" class="nav-item nav-link @manageUploads">Manage Uploads</a>
                            <a href="~/AdminsPage/ManageSubscriptions" class="nav-item nav-link @manageSubscriptions">Manage Subscriptions</a>
                            <a href="#price" class="nav-item nav-link @profileActive">Profile</a>
                            <a href="~/Account/LogOut" class="nav-item nav-link btn" style="background-color: #fbaf32; color: white;">Log Out</a>
                        }

                    }
                    @*<div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Menu</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">View Profile</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                            <a href="~/Account/LogOut" class="dropdown-item">Log Out</a>
                            }
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    <!-- Page Header Start -->
    <div class="page-header mb-0" id="homeTopPage">
        <div class="container">
            @if (User.Identity.IsAuthenticated && User.IsInRole("User") && ViewContext.RouteData.Values["action"].ToString().ToLower() == "usershome")
            {
                <div class="search-widget">
                    <form action="~/UsersPage/UsersHome" method="post">
                        <input class="form-control" name="search" type="text" placeholder="Search Keyword" value="@Session["SearchInput"]">
                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                @*<form action="~/UsersPage/UsersHome" method="post">
                    <div class="row" style="justify-content:center;">
                        <div class="form-outline" data-mdb-input-init>
                            <input id="search-input" type="search" id="form1" class="form-control" name="search" value="@Session["SearchInput"]" placeholder="Search" style="padding: 1.5rem; border-radius:.25rem 0 0 .25rem; width:50rem" />
                        </div>
                        <button id="search-button" type="submit" class="btn btn-primary" style="border-radius:0 .25rem .25rem 0">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>*@
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <h2>@ViewBag.TitleHeader</h2>
                    </div>
                    <div class="col-12">
                        <p>@ViewBag.TitleSubHeader</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Booking Start -->
    @*<div class="@((ViewContext.RouteData.Values["controller"].ToString().Equals("UsersPage", StringComparison.OrdinalIgnoreCase)) ? "blog" : "booking")">*@
    <div class="@classParentContainerName">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- Booking End -->

    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-contact">
                                <h2>Our Address</h2>
                                <p><i class="fa fa-map-marker-alt"></i>6015 A.C. Cortes Avenue, Mandaue City, Cebu</p>
                                <p><i class="fa fa-phone-alt"></i>+032 341 5884</p>
                                <p><i class="fa fa-envelope"></i>mbcares@gmail.com</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="">Terms of use</a>
                                <a href="">Privacy policy</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        <h2>Give feedback</h2>
                        <p>
                            What do you think about our website?
                        </p>
                        <div class="row contact-form">
                            <div class="col-md-12">
                                <div id="success"></div>
                                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div>
                                        <button class="btn custom-btn" type="submit" id="sendMessageButton">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright &copy; @DateTime.Today.Year -<a href="#"> MoodBite</a>, All Right Reserved.</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/MainTemplate/lib/easing/easing.min.js"></script>
    <script src="~/Content/MainTemplate/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/MainTemplate/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Content/MainTemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Content/MainTemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/MainTemplate/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/MainTemplate/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/MainTemplate/js/main.js"></script>

    <script>
        $(document).ready(function(){
            // Function to handle click event on nav links
            $('.nav-item.nav-link').click(function(){
                // Remove active class from all nav links
                $('.nav-item.nav-link').removeClass('active');
                // Add active class to the clicked nav link
                $(this).addClass('active');
            });
        });

        //const searchButton = document.getElementById('search-button');
        //const searchInput = document.getElementById('search-input');
        //searchButton.addEventListener('click', () => {
        //    const inputValue = searchInput.value;
        //    window.location.href = 'UsersHome/' + inputValue;
        //});
    </script>
</body>
</html>
