@model User
@{
    ViewBag.Title = "Register";
    ViewBag.TitleHeader = "Creating Account";
    ViewBag.TitleSubHeader = "Register";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}
<!-- Favicon -->
<link href="~/Content/MainTemplate/img/favicon.ico" rel="icon">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

<!-- CSS Libraries -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">
<link href="~/Content/MainTemplate/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="~/Content/MainTemplate/css/style.css" rel="stylesheet">


<div class="row align-items-center">
    <div class="col-lg-7" style="margin-top:-30rem">
        <div class="booking-content">
            <div class="section-header">
                <p>Sign Up</p>
                <h2>Sign Up to Discover Recipes That Will Boost Your Mood</h2>
            </div>
            <div class="about-text">
                <p>
                    Indulge in a culinary adventure that matches your mood. Sign in to MoodBite and explore a vast collection of delicious recipes tailored to uplift your spirits. From comforting dishes to vibrant creations, our app is designed to enhance your cooking experience and bring joy to your kitchen.
                </p>
                <p>
                    Discover the power of food and mood synergy with MoodBite. Join us today and embark on a delightful journey of flavors and emotions.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="booking-form">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "registration-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger custom-ul", @style = "color:red" })

                <div class="control-group" style="display:flex">
                    <img src="http://via.placeholder.com/150x150" style="border-radius:50%; cursor:pointer; margin:0 auto" id="profilepicdisplay" width="150px" alt="Upload Profile Picture"/>
                </div>

                <div class="control-group">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username", @required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="far fa-user"></i></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @required = "required", @type = "email" })
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="far fa-envelope"></i></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group" id="show-hide-password">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <a onclick="togglePasswordVisibility('passwordInput')">
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group" id="show-hide-confirm-password">
                        <input type="password" class="form-control" name="confirmPasswordInp" placeholder="Confirm Password" required="required" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <a onclick="togglePasswordVisibility('confirmPasswordInp')">
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="far fa-user"></i></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="far fa-user"></i></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address", @required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-home" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-group">
                        <div class="input-group date" id="date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Date of Birth" name="bod" data-target="#date" data-toggle="datetimepicker" />
                            <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.Gender, new SelectList(new[]
                            {
                                new SelectListItem { Text = "Gender", Value = "", Disabled = true, Selected = true },
                                new SelectListItem { Text = "Male", Value = "Male" },
                                new SelectListItem { Text = "Female", Value = "Female" }
                            }, "Value", "Text"), new { @class = "custom-select form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="input-group">
                        <label class="form-label" style="color:white;">Upload profile picture</label>
                        <input type="file" id="profilepicinp" name="profilePic" accept="image/*" />
                    </div>
                </div>
                <div>
                    <button class="btn custom-btn" type="submit">Register</button>
                </div>
                <div class="control-group">
                    <div class="input-group dont-have-account-link-container" style="justify-content:center; align-items:center; margin-top:2rem">
                        <a href="~/Account/LogIn" style="color:rgba(255,255,255, 0.8);">Already have an account?</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/MainTemplate/lib/easing/easing.min.js"></script>
<script src="~/Content/MainTemplate/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/Content/MainTemplate/mail/jqBootstrapValidation.min.js"></script>
<script src="~/Content/MainTemplate/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/Content/MainTemplate/js/main.js"></script>

<script>
    $('#profilepicdisplay').click(function () {
        $('#profilepicinp').click()
    })

    document.getElementById('profilepicinp').addEventListener('change', function (event) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function () {
            var imgElement = document.getElementById('profilepicdisplay');
            imgElement.src = reader.result;
            //imgElement.style.display = 'block';
        };

        if (input.files && input.files[0]) {
            reader.readAsDataURL(input.files[0]);
        }
    });

    function togglePasswordVisibility(elementId) {
        var passwordInput = document.getElementById(elementId);
        var eyeIcon = passwordInput.nextElementSibling.querySelector("i");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        }
    }
</script>

