@model IEnumerable<MoodBite.vw_ManageUploads>

@{
    ViewBag.Title = "Manage Uploads";
    ViewBag.TitleHeader = "List of Uploaded Recipes";
    ViewBag.SubHeader = "";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";

    string a = "active";
    string ia = string.Empty;

    Session["HomeActive"] = ia;
    Session["MUploadsActive"] = a;
    Session["MSubscriptionsActuve"] = ia;
}

<div style="text-align: right; margin:1rem 0 0.5rem">
    <a href="~/UsersPage/UploadRecipe" class="btn custom-btn" style="padding: 5px 10px;">Add new</a>
</div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Recipe name")
        </th>
        <th>
            @Html.DisplayName("Uploaded by")
        </th>
        <th>
            @Html.DisplayName("Date uploaded")
        </th>
        @*<th>
            @Html.DisplayName("Date approved")
        </th>
        <th>
            @Html.DisplayName("Approved by")
        </th>*@
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uploaded_by)
            </td>
            <td>
                @if (item.Date_uploaded.HasValue)
                {
                    <span>@item.Date_uploaded.Value.ToString("MMMM dd, yyyy hh:mm tt")</span>
                }
            </td>
            @*<td>
                @if (item.Date_approved.HasValue)
                {
                    <span>@item.Date_approved.Value.ToString("MMMM dd, yyyy hh:mm tt")</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved_by)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @*<td>
                @Html.DropDownListFor(modelItem => item.Status, new SelectList(new[]
                {
                    new SelectListItem { Text = "Keep it pending", Value = "Pending" },
                    new SelectListItem { Text = "Reject", Value = "Reject" },
                    new SelectListItem { Text = "Approved", Value = "Approved" }
                }, "Value", "Text", item.Status), new { @class = "form-control", @id = "statusDropdown", @data_id = @item.ID})
            </td>*@
            <td>
                <a href="~/AdminsPage/EditRecipe/@item.ID" class="btn crud-btn edit"><i class="fas fa-edit"></i></a> &nbsp;&nbsp; 
                @*@Html.ActionLink("Edit", "EditRecipe", new { id = item.ID}, new { @class = "btn crud-btn edit"})*@

                <a href="~/AdminsPage/RecipeDetails/@item.ID" class="btn crud-btn details"><i class="fas fa-info-circle"></i></a> &nbsp;&nbsp;
                @*@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn crud-btn details" })*@

                <a href="~/AdminsPage/DeleteRecipe/@item.ID" class="btn crud-btn delete"><i class="fas fa-trash"></i></a> &nbsp;&nbsp;
                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn crud-btn delete" })*@

                <!--means if recipe was already checked then dont show approval buttons-->
                @if (item.DateApproved == null)
                {
                    <a href="~/AdminsPage/RejectRecipe/@item.ID" class="btn crud-btn delete"><i class="fas fa-times"></i></a> @:&nbsp; &nbsp;
                    <a href="~/AdminsPage/ApproveRecipe/@item.ID" class="btn crud-btn approve"><i class="fas fa-check"></i></a>
                }
                
            </td>
        </tr>
    }

</table>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/MainTemplate/lib/easing/easing.min.js"></script>
<script src="~/Content/MainTemplate/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/Content/MainTemplate/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/Content/MainTemplate/mail/jqBootstrapValidation.min.js"></script>
<script src="~/Content/MainTemplate/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/Content/MainTemplate/js/main.js"></script>


<script>
    $(document).ready(function () {
        $('#statusDropdown').change(function () {
            var selectedValue = $(this).val();
            var itemId = $(this).data('id');

            $.ajax({
                url: '@Url.Action("UpdateRecipeStatus", "AdminsPage")',
                type: 'POST',
                data: { id: itemId, status: selectedValue },
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>