@model IEnumerable<MoodBite.vw_ManageUsers>

@{
    ViewBag.Title = "Manage Users";
    ViewBag.TitleHeader = "List of Users";
    ViewBag.SubHeader = "";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";

    string a = "active";
    string ia = string.Empty;

    Session["HomeActive"] = a;
    Session["MUploadsActive"] = ia;
    Session["MSubscriptionsActuve"] = ia;
}

<div style="text-align: right; margin:1rem 0 0.5rem">
    <a href="~/AdminsPage/AddUser" class="btn custom-btn" style="padding: 5px 10px;">Add new</a>
</div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Username")
        </th>
        <th>
            @Html.DisplayName("First name")
        </th>
        <th>
            @Html.DisplayName("Last name")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Birthdate")
        </th>
        <th>
            @Html.DisplayName("Gender")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (item.Birthdate.HasValue)
                {
                    <span>@item.Birthdate.Value.ToString("MMMM dd, yyyy")</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
